#title {
	background-color: blue ;
	text-align: center;
	color: white;
	height: 100px;
	border-radius: 20px;
}

.input-group {
	width: 100%;
}

.boxindex {
	border: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 20px;
}